USE [CINEMA]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[maDichVu] [char](5) NOT NULL,
	[tenDichVu] [nvarchar](100) NULL,
	[giaDichVu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUTHEOHOADON]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUTHEOHOADON](
	[maHoaDon] [char](10) NOT NULL,
	[maDichVu] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[maGiamGia] [char](15) NOT NULL,
	[phanTramGiamGia] [float] NULL,
	[hanSuDung] [datetime] NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAODICH]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAODICH](
	[maGiaoDich] [char](10) NOT NULL,
	[maHoaDon] [char](10) NOT NULL,
	[soTKNganHang] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[maHoaDon] [char](10) NOT NULL,
	[tongGiaHoaDon] [float] NOT NULL,
	[ghiChu] [nvarchar](100) NULL,
	[soDienThoai] [char](10) NOT NULL,
	[maGiamGia] [char](15) NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[maNhanVien] [char](10) NOT NULL,
	[trangThai] [bit] NULL,
	[kiemDuyet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[maPhim] [char](7) NOT NULL,
	[tenPhim] [nvarchar](50) NOT NULL,
	[ngayPhatHanh] [date] NOT NULL,
	[moTa] [nvarchar](1000) NULL,
	[anhBia] [char](100) NULL,
	[maTheLoai] [char](3) NOT NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[maPhong] [char](6) NOT NULL,
	[maRap] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAPPHIM]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPPHIM](
	[maRap] [char](5) NOT NULL,
	[diaChi] [nvarchar](100) NOT NULL,
	[trangThai] [nvarchar](4) NULL,
	[gioMoCua] [datetime] NULL,
	[gioDongCua] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[soDienThoai] [char](10) NOT NULL,
	[matKhau] [char](16) NOT NULL,
	[tenNguoiDung] [nvarchar](30) NOT NULL,
	[vaiTro] [int] NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAIPHIM]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAIPHIM](
	[maTheLoai] [char](3) NOT NULL,
	[theLoaiPhim] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[id] [int] NOT NULL,
	[tieuDe] [nvarchar](100) NULL,
	[noiDung] [nvarchar](1000) NULL,
	[ngayTao] [datetime] NULL,
	[soDienThoai] [char](10) NULL,
	[anhTieuDe] [char](100) NULL,
	[anhNoiDung] [char](100) NULL,
	[luotXem] [int] NULL,
	[daDuyet] [bit] NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[maVe] [char](10) NOT NULL,
	[maGhe] [char](3) NOT NULL,
	[maXuatChieu] [char](6) NOT NULL,
	[maHoaDon] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VITRIGHE]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITRIGHE](
	[maGhe] [char](3) NOT NULL,
	[maPhong] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATCHIEU]    Script Date: 05/04/2024 5:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATCHIEU](
	[maXuatChieu] [char](6) NOT NULL,
	[maPhim] [char](7) NOT NULL,
	[maPhong] [char](6) NOT NULL,
	[ngayChieu] [date] NULL,
	[gioChieu] [time](7) NULL,
	[giaXuatChieu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maXuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TINTUC] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[TINTUC] ADD  DEFAULT ((0)) FOR [luotXem]
GO
ALTER TABLE [dbo].[DICHVUTHEOHOADON]  WITH CHECK ADD FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DICHVU] ([maDichVu])
GO
ALTER TABLE [dbo].[DICHVUTHEOHOADON]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HOADON] ([maHoaDon])
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HOADON] ([maHoaDon])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([maGiamGia])
REFERENCES [dbo].[GIAMGIA] ([maGiamGia])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([soDienThoai])
REFERENCES [dbo].[TAIKHOAN] ([soDienThoai])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[TAIKHOAN] ([soDienThoai])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[TAIKHOAN] ([soDienThoai])
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD FOREIGN KEY([maTheLoai])
REFERENCES [dbo].[THELOAIPHIM] ([maTheLoai])
GO
ALTER TABLE [dbo].[PHONGCHIEU]  WITH CHECK ADD FOREIGN KEY([maRap])
REFERENCES [dbo].[RAPPHIM] ([maRap])
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD FOREIGN KEY([soDienThoai])
REFERENCES [dbo].[TAIKHOAN] ([soDienThoai])
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD FOREIGN KEY([soDienThoai])
REFERENCES [dbo].[TAIKHOAN] ([soDienThoai])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([maGhe])
REFERENCES [dbo].[VITRIGHE] ([maGhe])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HOADON] ([maHoaDon])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([maXuatChieu])
REFERENCES [dbo].[XUATCHIEU] ([maXuatChieu])
GO
ALTER TABLE [dbo].[VITRIGHE]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[PHONGCHIEU] ([maPhong])
GO
ALTER TABLE [dbo].[XUATCHIEU]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[PHIM] ([maPhim])
GO
ALTER TABLE [dbo].[XUATCHIEU]  WITH CHECK ADD FOREIGN KEY([maPhong])
REFERENCES [dbo].[PHONGCHIEU] ([maPhong])
GO
ALTER TABLE [dbo].[GIAMGIA]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([kiemDuyet]=(2) OR [kiemDuyet]=(1) OR [kiemDuyet]=(0)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[RAPPHIM]  WITH CHECK ADD CHECK  (([trangThai]='M?' OR [trangThai]=N'Đóng'))
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD CHECK  (([vaiTro]=(3) OR [vaiTro]=(2) OR [vaiTro]=(1)))
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD CHECK  (([daDuyet]=(1) OR [daDuyet]=(0)))
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
